/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg,
            #e8d8b9,
            #eccec5,
            #a3e9eb,
            #bdbdf0,
            #eec1ea);
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content>.card-widget.card-info {
    background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
    text-shadow: 0 0 2px var(rgb(179, 71, 241)) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
    text-shadow: 0 0 2px var(rgb(179, 71, 241)) !important;
}


/*待做清单*/
#todolist-box {
    margin: 0 10px;
}

#todolist-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0 10px;
}

#todolist-main li {
    list-style: none;
    font-size: 17px;
}

#todolist-main ul {
    margin: 0;
    padding: 0;
}

#todolist-left {
    width: 50%;
    padding: 0 8px 0 0;
}

#todolist-right {
    width: 50%;
    padding: 0 0 0 8px;
}

.todolist-item {
    position: relative;
    background: #fae4df;
    border-radius: 12px;
    padding: 10px 1rem 1.2rem;
    border: 2px dashed #f7a796;
    margin-bottom: 1rem;
}

[data-theme=dark] .todolist-item {
    background: #242424;
    border: 2px dashed #51908b;
}

li.todolist-li i {
    margin-left: 10px;
}

h3.todolist-title {
    margin: 0 !important;
    border-bottom: var(--todo-border);
}

li.todolist-li {
    border-bottom: var(--todo-border);
    font-weight: normal;
}

.todolist-li span {
    margin-left: 5px;
}

@media screen and (max-width:700px) {

    #todolist-left,
    #todolist-right {
        width: 100%;
        padding: 0;
    }
}

.page-top-card {
    background-size: cover;
    background-position: center;
    height: 20.5rem;
    padding: 10px 2.7rem;
    border-radius: 20px;
    color: white;
    position: relative;
}

.page-top-card span.content-item-title {
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1.2;
    font-family: STZhongsong, 'Microsoft YaHei';
}

.page-top-card .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 5.4rem);
    bottom: 1rem;
}

[data-theme='dark'] .page-top-card {
    opacity: .92;
}

/*点赞*/
.orlike {
    color: rgb(232, 138, 138);
    font-size: 26px !important;
    line-height: 2;
    text-shadow: 5px 5px 5px #2ed0d9fc;
}

[data-theme=dark] .orlike {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 4px 4px 4px #23a8af99;
}

.orlike:first-child {
    margin-right: 36px;
}

.orlike span {
    margin-left: 0.3rem;
}

.orlike-box {
    margin: 15px 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 52px;
}

.orlike:hover {
    color: #f07e7e !important;
}

[data-theme=dark] .orlike:hover {
    color: #e87373e8 !important;
}

.orlike-loading {
    display: block;
    height: 39px;
    width: 10px !important;
    border-radius: 50%;
    border: 2px solid #acacac;
    border-bottom-color: transparent;
    -webkit-animation: orlike-loadingRotate 0.75s linear infinite;
    animation: orlike-loadingRotate 0.75s linear infinite;
}

@-webkit-keyframes orlike-loadingRotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes orlike-loadingRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*FOOTER自定义页脚*/

/* 自定义底部  start */
#ft {
    max-width: 1200px;
    margin: 0 auto 12px;
    display: flex;
    /*color: rgba(56, 130, 167, 0.8) !important;*/
    text-align: left;
    flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
    display: flex;
    height: 100%;
    padding: 10px 14px;
}

.ft-item-1 {
    flex-direction: column;
    flex: 2;
}

.ft-item-2 {
    flex: 1;
    flex-direction: column;
}

.t-top {
    display: flex;
}

.t-top .t-t-l {
    display: flex;
    flex-direction: column;
    flex: 1.4;
    margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
    width: 85%;
    border-radius: 10px;
    padding: 0 10px;
}

.btn-xz-box {
    margin-top: 10px;
}

.btn-xz {
    display: block;
    background-color: var(--btn-bg);
    color: var(--btn-color);
    text-align: center;
    line-height: 2.4;
    margin: 8px 0;
    cursor: pointer !important;
}

.btn-xz:hover {
    text-decoration: none !important;

}

.btn-xz-box:hover .btn-xz {
    background-color: #355da1;
}

.t-top .t-t-r {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ft-links {
    padding: 0 14px;
    list-style: none;
    margin-top: 0 !important;
}

.ft-links li a {
    display: inline-block !important;
    width: 50%;
    cursor: pointer !important;
}

.ft-links li a:hover {
    text-decoration: none !important;
    color: #4e82db !important;
}

.ft-item-2 .ft-img-group {
    width: 100%;
}

.ft-t {
    font-size: 0.8rem;
    margin-bottom: 20px;
    line-height: 1;
    font-weight: 600;
}

.t-l-t {
    padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
    display: inline-block;
    width: 18.4%;
    margin-right: 14px;
    margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer !important;
}

.ft-item-2 .ft-img-group .img-group-item a img {
    width: 100%;
    max-height: 80px;
}

@media screen and (max-width: 768px) {

    .ft-item-1 {
        flex-basis: 100% !important;
    }

    .ft-item-2 {
        flex-basis: 100% !important;
    }

    .t-top .t-t-l .bg-ad {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .t-top {
        flex-wrap: wrap;
    }

    .t-top .t-t-l {
        flex-basis: 100% !important;

    }

    .t-top .t-t-r {
        margin-top: 16px;
        flex-basis: 100% !important;
    }
}

/* 自定义底部  End */


/*Twikoo评论区美化，摘自：https://www.cxl2020mc.top/post/Hexo-Butterfly-Twikoo%E8%AF%84%E8%AE%BA%E5%8C%BA%E7%BE%8E%E5%8C%96/ */
/* 声名部分变量 */
:root {
    --cxl2020mc-radius: 7px;
    --cxl2020mc-card-border-width: 1px;
}

/* 浅色模式颜色 */
[data-theme=light] {
    --cxl2020mc-border-color: #e3e8f7;
    --cxl2020mc-card-bg: #fff;
    --cxl2020mc-card-border: #e3e8f7;
    --style-border-always: 1px solid var(--cxl2020mc-card-border);
    --cxl2020mc-blue: #425AEF;
}

/* 深色模式颜色 */
[data-theme=dark] {
    --cxl2020mc-border-color: #42444a;
    --cxl2020mc-card-bg: #1d1b26;
    --cxl2020mc-card-border: #42444a;
    --style-border-always: 1px solid var(--cxl2020mc-card-border);
    --cxl2020mc-blue: #0084FF;
}

/* 评论区评论大框 */
.twikoo .tk-comments-container>.tk-comment {
    /* 内边距 */
    padding: 1rem;
    /* 圆角 */
    border-radius: var(--cxl2020mc-radius);
    /* 背景颜色 */
    background: var(--cxl2020mc-card-bg);
    /* 变动动画时长 */
    transition: .3s;
}

/* 浅色模式评论区评论大框 */
[data-theme=light] .twikoo .tk-comments-container>.tk-comment {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
}

/* 浅色模式评论区评论大框阴影悬浮加深 */
[data-theme=light] .twikoo .tk-comments-container>.tk-comment:hover {
    /* 阴影（浅色模式突出层次感） */
    box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式评论区评论大框 */
[data-theme=dark] .twikoo .tk-comments-container>.tk-comment {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--cxl2020mc-card-border-width);
    /* 边框颜色 */
    border-color: var(--cxl2020mc-card-border);
}

/* 设备信息 */
.twikoo .tk-extra {
    /* 圆角 */
    border-radius: var(--cxl2020mc-radius);
    /* 背景颜色 */
    background: var(--cxl2020mc-card-bg);
    /* 内边距 */
    padding: 0.4rem;
    /* 底边距 */
    margin-bottom: 1rem;
    /* 变动动画时长 */
    transition: .3s;
}

/* 浅色模式设备信息 */
[data-theme=light] .twikoo .tk-extra {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
}

/* 浅色模式设备信息阴影悬浮加深 */
[data-theme=light] .twikoo .tk-extra:hover {
    /* 阴影 */
    box-shadow: var(--card-hover-box-shadow);
}

/* 黑暗模式设备信息 */
[data-theme=dark] .twikoo .tk-extra {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--cxl2020mc-card-border-width);
    /* 边框颜色 */
    border-color: var(--cxl2020mc-card-border);
}

/* 加载更多按钮 */
.twikoo .tk-expand {
    /* 圆角 */
    border-radius: var(--cxl2020mc-radius);
}

/* 浅色模式加载更多按钮 */
[data-theme=light] .twikoo .tk-expand {
    /* 阴影 */
    box-shadow: var(--card-box-shadow);
}

/* 浅色模式加载更多按钮（鼠标悬浮时） */
[data-theme=light] .twikoo .tk-expand:hover {
    /* 阴影 */
    box-shadow: var(--card-hover-box-shadow);
    /* 背景颜色 */
    background-color: var(--btn-bg);
}

/* 黑暗模式加载更多按钮（鼠标悬浮时） */
[data-theme=dark] .twikoo .tk-expand:hover {
    /* 背景颜色 */
    background-color: var(--cxl2020mc-blue);
}

/* 黑暗模式加载更多按钮 */
[data-theme=dark] .twikoo .tk-expand {
    /* 边框样式 */
    border-style: solid;
    /* 边框宽度 */
    border-width: var(--cxl2020mc-card-border-width);
    /* 边框颜色 */
    border-color: var(--cxl2020mc-card-border);
}


/*Twikoo评论区输入提醒，摘自：https://blog.leonus.cn/2022/inputAlert.html*/
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
    content: '输入QQ号会自动获取您的QQ昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
    content: '本站已开启邮件通知，收到回复后将会发送给您发送邮件📧';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
    display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
    /* 先隐藏起来 */
    display: none;
    /* 绝对定位 */
    position: absolute;
    /* 向上移动60像素 */
    top: -60px;
    /* 文字强制不换行，防止left:50%导致的文字换行 */
    white-space: nowrap;
    /* 圆角 */
    border-radius: 10px;
    /* 距离左边50% */
    left: 50%;
    /* 然后再向左边挪动自身的一半，即可实现居中 */
    transform: translate(-50%);
    /* 填充 */
    padding: 14px 18px;
    background: #444;
    color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
    display: none;
    content: '';
    position: absolute;
    /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
    我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
    border: 12px solid transparent;
    border-top-color: #444;
    left: 50%;
    transform: translate(-50%, -48px);
}


/*目录效果*/

@media screen and (max-width: 768px) {
    #aside-content .card-widget:not(#card-toc) {
        display: none;
    }
}

@media screen and (min-width: 901px) {
    #aside-content #card-toc {
        right: 0px !important;
    }
}

@media screen and (max-width: 900px) {
    #aside-content #card-toc {
        position: fixed;
        right: -100%;
        bottom: 30px;
        z-index: 100;
        max-height: calc(100% - 60px);
        width: 300px;
        opacity: 0;
        transform-origin: right bottom;
    }
}

#aside-content #card-toc .toc-content {
    overflow-y: auto;
    max-height: calc(100vh - 120px);
}

@media screen and (max-width: 900px) {
    #aside-content #card-toc .toc-content {
        max-height: calc(100vh - 140px);
    }
}

#aside-content #card-toc .toc-content .toc-child {
    display: none;
}

@media screen and (max-width: 900px) {
    #aside-content #card-toc .toc-content .toc-child {
        display: block !important;
    }
}

#aside-content #card-toc .toc-content .toc-item.active .toc-child {
    display: block;
}

#aside-content #card-toc .toc-content li,
#aside-content #card-toc .toc-content ol {
    list-style: none;
}

#aside-content #card-toc .toc-content>ol {
    padding: 0px !important;
}

#aside-content #card-toc .toc-content ol {
    margin: 0px;
    padding-left: 0.4rem;
}

#aside-content #card-toc .toc-content .toc-link {
    display: block;
    padding-left: 0.3rem;
    border-left: 3px solid transparent;
    color: var(--toc-link-color);
    transition: all 0.2s ease-in-out 0s;
}

#aside-content #card-toc .toc-content .toc-link.active {
    border-left-color: rgb(0, 97, 204);
    background: rgb(0, 121, 255);
    color: rgb(255, 255, 255);
}

#aside-content #card-toc .toc-content::before {
    position: absolute;
    top: 0.6rem;
    right: 1.2rem;
    color: rgb(169, 169, 169);
    content: attr(progress-percentage);
    font-style: italic;
    font-size: 1.2rem;
}

#aside-content #card-toc .toc-content .toc-link.active {
    line-height: 1.2;
    border-radius: 12px;
    border-left-color: var(--heo-hovertext);
    background-color: var(--heo-card-bg);
    color: var(--heo-lighttext);
    font-weight: 700;
    font-size: 20px;
}

[data-theme="dark"].toc .toc-item.active .toc-link .toc-text {
    color: var(--heo-white);
}

#aside-content #card-toc .toc-content .toc-item.active .toc-link {
    opacity: 1;
    border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link {
    line-height: 1.2;
    padding: 8px;
    border-left: 0px solid transparent;
    border-radius: 12px;
    color: var(--heo-secondtext);
    cursor: default;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
    opacity: 0.6;
    cursor: pointer;
    filter: blur(1px);
    transition: all 0.3s ease 0s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
    filter: blur(0px);
    opacity: 1;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span:hover {
    color: var(--heo-lighttext);
}

#card-toc {
    padding: 0.5rem !important;
}

#aside-content #card-toc .toc-content::before {
    display: none;
}


/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg,
            rgba(255, 255, 255, 0.4) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.4) 50%,
            rgba(255, 255, 255, 0.4) 75%,
            transparent 75%,
            transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
}


/*鼠标样式*/
body {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/default.cur),
        default;
}

a,
img {
    cursor: url(https://cdn.jsdelivr.net/gh/sviptzk/HexoStaticFile@latest/Hexo/img/pointer.cur),
        default;
}


/*解决加入飞机后出现的横向滚动条*/
#drone .container {
    overflow: hidden;
}


/*猫咪滚动条*/

body::-webkit-scrollbar {
    width: 0;
}

.neko {
    width: 64px;
    height: 64px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812db74be9.png");
    position: absolute;
    right: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    transform: translateX(50%);
    cursor: pointer;
    font-family: tzy;
    font-weight: 600;
    font-size: 16px;
    color: #6f42c1;
    display: none;
}

.neko::after {
    display: none;
    width: 100px;
    height: 100px;
    background-image: url("https://bu.dusays.com/2022/07/20/62d812d95e6f5.png");
    background-size: contain;
    z-index: 9999;
    position: absolute;
    right: 50%;
    text-align: center;
    line-height: 100px;
    top: -115%;

}

.neko.showMsg::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko:hover::after {
    content: attr(data-msg);
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.neko.fontColor::after {
    color: #333;
}

/**
 * @description: 滚动条样式  跟猫二选一
 */
@media screen and (max-width:992px) {
    ::-webkit-scrollbar {
        width: 8px !important;
        height: 8px !important
    }

    ::-webkit-scrollbar-track {
        border-radius: 2em;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / .3);
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
        border-radius: 2em
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent
    }
}



/*哔哩哔哩视频适配*/
.bilibili {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .bilibili {
        height: 15em;
        max-width: 25em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .bilibili {
        height: 20em;
        max-width: 30em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .bilibili {
        height: 30em;
        max-width: 40em;
    }
}

@media only screen and (min-width: 1200px) {
    .bilibili {
        height: 40em;
        max-width: 50em;
    }
}


/* 分类页样式 began */
.category-list-link:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px 2px rgba(0, 0, 0, .12), 0 0 6px 0 rgba(104, 104, 105, 0.1);
    border-radius: 15px;
    padding: 6px 16px;
    margin-left: 0px;
    font-size: 16px;
    transition-duration: 0.15s;
    /*display: flex;*/
}

/* 分类页样式 end */


/*阿里图标库*/
@font-face {
    font-family: "iconfont";
    /* Project id 4078305 */
    src: url('//at.alicdn.com/t/c/font_4078305_0smxyb0nxdue.woff2?t=1684594649303') format('woff2'),
        url('//at.alicdn.com/t/c/font_4078305_0smxyb0nxdue.woff?t=1684594649303') format('woff'),
        url('//at.alicdn.com/t/c/font_4078305_0smxyb0nxdue.ttf?t=1684594649303') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-faxian1:before {
    content: "\e686";
}

.icon-qiandao:before {
    content: "\e687";
}

.icon-jilu:before {
    content: "\e688";
}

.icon-guanzhu:before {
    content: "\e689";
}

.icon-fensi:before {
    content: "\e68a";
}

.icon-wode:before {
    content: "\e68b";
}

.icon-zhuye:before {
    content: "\e68c";
}

.icon-sousuo:before {
    content: "\e68d";
}

.icon-bangzhushouce:before {
    content: "\e63c";
}

.icon-biaoqian:before {
    content: "\e63d";
}

.icon-daohang:before {
    content: "\e63e";
}

.icon-faxian:before {
    content: "\e63f";
}

.icon-shijian:before {
    content: "\e644";
}

.icon-xiewenzhang:before {
    content: "\e645";
}

.icon-zhishipai:before {
    content: "\e646";
}