/* 侧边栏个人信息卡片动态渐变色 */
#aside-content>.card-widget.card-info {
    background: linear-gradient(-45deg,
            #e8d8b9,
            #eccec5,
            #a3e9eb,
            #bdbdf0,
            #eec1ea);
    box-shadow: 0 0 5px rgb(66, 68, 68);
    position: relative;
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* 黑夜模式适配 */
[data-theme="dark"] #aside-content>.card-widget.card-info {
    background: #191919ee;
}

/* 个人信息Follow me按钮 */
#aside-content>.card-widget.card-info>#card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
}

/* 夜间模式菜单栏发光字 */
[data-theme="dark"] #nav .site-page,
[data-theme="dark"] #nav .menus_items .menus_item .menus_item_child li a {
    text-shadow: 0 0 2px var(rgb(179, 71, 241)) !important;
}

/* 手机端适配 */
[data-theme="dark"] #sidebar #sidebar-menus .menus_items .site-page {
    text-shadow: 0 0 2px var(rgb(179, 71, 241)) !important;
}

/*To Do list*/
#todolist-box {
    margin: 0 10px;
}

#todolist-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px 0 10px;
}

#todolist-main li {
    list-style: none;
    font-size: 17px;
}

#todolist-main ul {
    margin: 0;
    padding: 0;
}

#todolist-left {
    width: 50%;
    padding: 0 8px 0 0;
}

#todolist-right {
    width: 50%;
    padding: 0 0 0 8px;
}

.todolist-item {
    position: relative;
    background: #fae4df;
    border-radius: 12px;
    padding: 10px 1rem 1.2rem;
    border: 2px dashed #f7a796;
    margin-bottom: 1rem;
}

[data-theme=dark] .todolist-item {
    background: #242424;
    border: 2px dashed #51908b;
}

li.todolist-li i {
    margin-left: 10px;
}

h3.todolist-title {
    margin: 0 !important;
    border-bottom: var(--todo-border);
}

li.todolist-li {
    border-bottom: var(--todo-border);
    font-weight: normal;
}

.todolist-li span {
    margin-left: 5px;
}

@media screen and (max-width:700px) {

    #todolist-left,
    #todolist-right {
        width: 100%;
        padding: 0;
    }
}

.page-top-card {
    background-size: cover;
    background-position: center;
    height: 20.5rem;
    padding: 10px 2.7rem;
    border-radius: 20px;
    color: white;
    position: relative;
}

.page-top-card span.content-item-title {
    font-size: 2.3em;
    font-weight: bold;
    line-height: 1.2;
    font-family: STZhongsong, 'Microsoft YaHei';
}

.page-top-card .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: calc(100% - 5.4rem);
    bottom: 1rem;
}

[data-theme='dark'] .page-top-card {
    opacity: .92;
}

/*点赞*/
.orlike {
    color: rgba(255, 255, 255);
    font-size: 26px !important;
    line-height: 2;
    text-shadow: 5px 5px 5px #2ed0d9fc;
}

[data-theme=dark] .orlike {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 4px 4px 4px #23a8af99;
}

.orlike:first-child {
    margin-right: 36px;
}

.orlike span {
    margin-left: 0.3rem;
}

.orlike-box {
    margin: 15px 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 52px;
}

.orlike:hover {
    color: #f07e7e !important;
}

[data-theme=dark] .orlike:hover {
    color: #e87373e8 !important;
}

.orlike-loading {
    display: block;
    height: 39px;
    width: 10px !important;
    border-radius: 50%;
    border: 2px solid #acacac;
    border-bottom-color: transparent;
    -webkit-animation: orlike-loadingRotate 0.75s linear infinite;
    animation: orlike-loadingRotate 0.75s linear infinite;
}

@-webkit-keyframes orlike-loadingRotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes orlike-loadingRotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}